#!/usr/bin/make -f

%:
	dh $@

override_dh_auto_configure:
	dh_auto_configure -- \
		-Dpam=enabled \
		-Dgdk-pixbuf=enabled \
		-Dman-pages=enabled \
		-Dzsh-completions=true \
		-Dbash-completions=true \
		-Dfish-completions=true \
		$(if $(filter true,$(DEBUG_OVERLAY)),-Ddebug-overlay=true -Ddebug=true -Doptimization=0)

override_dh_strip:
	$(if $(filter true,$(DEBUG_OVERLAY)),true,dh_strip)

override_dh_fixperms:
	dh_fixperms -Xswaylock
	chmod 4755 debian/swaylock/usr/bin/swaylock
